*{
    margin: 0;
    padding: 0;
}

    nav, konten{
        font-family: url(Font/source_sans/SourceSansPro-Regular.ttf);;
    }

    .isikonten, .kegiatan{
        font-family: url(Font/tw-cen-mt-std/TwCenClassMTStd-Regular.otf);
    }
    
    .dropdown-submenu:hover > .dropdown-menu{
        display: block;
    }
        
    .dropdown-submenu{
        position: relative;
    }
        
    .dropdown-submenu > .dropdown-menu{
        top: 0;
        margin-top: -5px;
        right: 100%;
    }

    .dropdown-menu:hover > .dropdown-item{
        color: #C99353;
    }

    .navbar-toggler .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar{
        z-index: 3;
    }

    /* .nav-item ul li>a {
        color: white;
    } */

    .dropdown::after{
        content: '';
        position: absolute;
        background-color: white;
        height: 3px;
        width: 0;
        left: 0;
        bottom: 0px;
        transition: 0.3s;
    }
        
    .dropdown:hover::after{
        width: 100%;
    }

    .collapse ul li a:hover{
        color: #C99353 !important;
    }

    @media (max-width: 992px){
        .berita{
            margin-top: -300px;
        }
    }

.search-box{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 10px;
    border-radius: 40px;
    height: 40px;
}

.search-icon{
    font-size: 1.5rem;
    color: black;
}

.search-input{
    transition: .5s;
    width: 0px;
    overflow: hidden;
}

.search-input input{
    border: none;
    outline: none;
    background-color: unset;
}

.search-box:hover > .search-input{
    width: 100%;
    margin-left: 8px;
}

.desktop-btn {
    display: block;
}

h2.title-section::after {
    content: "";
    width: 300px;
    height: 4px;
    background-color: #C99353;
    display: block;
    margin: 10px 0px;
}

*{
    margin: 0;
    padding: 0;
}

    nav, konten{
        font-family: url(Font/source_sans/SourceSansPro-Regular.ttf);;
    }

    .isikonten, .kegiatan{
        font-family: url(Font/tw-cen-mt-std/TwCenClassMTStd-Regular.otf);
    }
    
    .dropdown-submenu:hover > .dropdown-menu{
        display: block;
    }
        
    .dropdown-submenu{
        position: relative;
    }
        
    .dropdown-submenu > .dropdown-menu{
        top: 0;
        margin-top: -5px;
        right: 100%;
    }

    .dropdown-menu:hover > .dropdown-item{
        color: #C99353;
    }

    .navbar-toggler .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar{
        z-index: 3;
    }

    /* .nav-item ul li>a {
        color: white;
    } */

    .dropdown::after{
        content: '';
        position: absolute;
        background-color: white;
        height: 3px;
        width: 0;
        left: 0;
        bottom: 0px;
        transition: 0.3s;
    }
        
    .dropdown:hover::after{
        width: 100%;
    }

    .collapse ul li a:hover{
        color: #C99353 !important;
    }

    @media (max-width: 992px){
        .berita{
            margin-top: -300px;
        }
    }

.search-box{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 10px;
    border-radius: 40px;
    height: 40px;
}

.search-icon{
    font-size: 1.5rem;
    color: black;
}

.search-input{
    transition: .5s;
    width: 0px;
    overflow: hidden;
}

.search-input input{
    border: none;
    outline: none;
    background-color: unset;
}

.search-box:hover > .search-input{
    width: 100%;
    margin-left: 8px;
}

.desktop-btn {
    display: block;
}

h2.title-section::after {
    content: "";
    width: 300px;
    height: 4px;
    background-color: #C99353;
    display: block;
    margin: 10px 0px;
}

html,body{
    overflow-x: hidden;
}

/* beranda */
.home{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
}
.content h1{
    margin-bottom: 40px;
    font-size: 95px;
    color: white;
    margin-top: 80px;
    text-shadow: 7px 7px 15px black;
}
.content h3{
    font-size: 40px;
    color: white;
    text-shadow: 7px 7px 10px black;
}
.content a{
    font-size: 23px;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 25px 45px;
    border-radius: 20px;
    margin-left: 20px;
    font-weight: bold;
    box-shadow: 3px 3px 20px black;
}
.box-home{
    margin-top: 14%;
}
.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}
@media(max-width: 840px){
    .content h1{
        margin-bottom: 40px;
        font-size: 45px;
        color: white;
        margin-top: 70px;
    }
    .content h3{
        font-size: 20px;
        color: white;
        margin-bottom: 100px;
    }
}
@media(max-width: 1263px){
    .content a{
        font-size: 15px;
        color: black;
        text-decoration: none;
        background-color: white;
        padding: 10px;
        border-radius: 20px;
        font-weight: bold;
        display:inline-block;
        margin-bottom: 10px;
        margin-left: 0px;
        width: 70%;
        justify-content: center;
    }
    .box-home{
        margin-top: 5%;
    }
}

/* artikel_berita */
.container{
    box-sizing: border-box;
}
.ber2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1rem;
}
.ber2::before, .ber2::after{
    content: "";
    height: 2px;
    background: #000;
    display: block;
}
.btn_selengkapnya{
    position: absolute;
    left: 85%;
    text-decoration: none;
    color: #EDA551;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 700;
}
.artikel_berita img{
    width: 140px;
    height: 140px;
    border-radius: 20px;
    margin-right: 30px;
}
.artikel_berita{
    margin-top: 50px;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    background-color: #F3F3F3;
    border: 10px solid #E6E6E6;
}
.artikel_berita3{
    display: flex;
    margin-top: 15px;
}
.artikel_berita3 div{
    color: #686868;
}
.artikel_berita3 div i, .tanggal  i{
    margin-right: 5px;
}
.artikel_berita3 .penulisberita{
    margin-left: 50px;
}
.artikel_berita2{
    margin-top: 20px;
    font-weight: 600;
}
.artikel_berita2 h4{
    font-weight: bold;
}
.artikel_berita2 a{
    text-decoration: none;
    color: black;
}
@media(max-width: 988px){

    .btn_selengkapnya{
        left: 75%;
    }
}
@media(max-width: 980px){
    .artikel_berita2{
        margin-top: 5px;
        font-weight: 600;
    }
    .btn_selengkapnya{
        left: 75%;
    }
}
@media(max-width: 760px){
    .artikel_berita3{
        display: block;
        margin-top: 15px;
    }
    .artikel_berita3 div{
        color: #686868;
        margin-left: 0px;
    }
    .btn_selengkapnya{
        left: 70%;
    }
    .artikel_berita3 .penulisberita{
        margin-left: 0px;
    }
}
@media(max-width: 700px){
    .artikel_berita img{
        display: block;
        justify-content: center;
        width: 140px;
        border-radius: 20px;
        margin-right: 30px;
    }
    .btn_selengkapnya{
        left: 60%;
    }
}
.lainnya{
    margin-top: 80px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
.berita_lainnya{
    color: black;
    text-decoration: none;
    background-color: #EDA551;
    padding: 15px;
}

/* kegiatan */
.event{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1rem;
}
.event::before, .event::after{
    content: "";
    height: 2px;
    background: #000;
    display: block;
}
.slidepic img{
    width: 500px;
    height: 700px; 
}
.keg{
    display: flex;
}
.keg .keg2{
    margin-right: 30px;
    margin-left: 50px;
}
.eventstyle{
    color: #C99353;
    font-weight: 700;
    font-size: 13px;
}
.kegiatan-unri img{
    width: 500px;
    height: 700px;
    margin-top: 190px;
    border-radius: 20px;
    border: 10px solid #E6E6E6;
}
.keg2 .btn_selengkapnya{
    left: 55%;
}
@media(max-width: 1500px){
    .keg2 .btn_selengkapnya{
        left: 53%;
    }
}
@media(max-width: 1400px){
    .keg2 .btn_selengkapnya{
        left: 45%;
    }
}
@media(max-width: 1155px){
    .keg2 .btn_selengkapnya{
        left: 40%;
    }
    .kegiatan-unri img{
        display: none;
    }
}

/* prestasi mahasiswa */
.artikel_prestasi img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    place-items: center;
    margin-top: 30px;
}
.prestasipic{
    display: block;
    text-align: center;
}
.artikel_prestasi{
    margin: 30px 40px;
}
.artikel_prestasi .artikel_berita2{
    text-align: center;
}
.artikel_prestasi .artikel_berita2 .tanggal{
    color: #686868;
    margin-top: 20px;
    margin-bottom: 30px;
}
.artikel_prestasi .judulpres{
    color: black;
}
.artikel_prestasi a{
    text-decoration: none;
    color: #EDA551;
    font-size: 14px;
    font-weight: 700;
}

/* poster mahasiswa */
.poster{
    margin-left: 100px;
}
.container_poster h4, .container_prestasi h4{
    margin-top: 20px;
}
@media(min-width: 980px){
    .container_poster, .container_prestasi{
        display: flex;
        justify-content: center;       
    }
}

/* kemitraan */
.kemit img{
    width: auto;
    height: 80px;
    margin-right: 20px;
}
.container_kemitraan{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.kemit2{
    display: flex;
    justify-content: center;
}
.kemitraanpic{
    margin-left: 100px;
}
@media(max-width: 1030px){
    .container_kemitraan{
        display: block;
        margin-top: 100px;
        margin-bottom: 80px;
    }
    .kemit2{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
}
@media(max-width: 560px){
    .kemitraanpic{
        margin-left: 40px;
    }
}

/* footer */
.footer{
    margin-bottom: -30px;
}
.footer2 img{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: -30px;
}
.footer2 .univ{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 50px;
}
.footer2 .prodi{
    font-size: 13px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.footer2{
    text-align: center;
}
.footer .socialmed i{
    color: white;
    margin-left: 5px;
    font-size: 25px;
}
.footer1{
    margin: 30px;
    display: flex;
    justify-content: space-around;
}
.footer2 a{
    font-size: 13px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.footer2 .kat{
    margin-top: 20px;
}
.footer2 .univ2{
    margin-top: 70px;
}
@media(max-width: 760px){
    .footer1{
        margin: 30px;
        display: block;
    }
    .footer2 img{
        margin-top: 20px;
        margin-bottom: -50px;
    }
    .footer2 .univ{
        font-size: 20px;
        color: white;
        font-weight: bold;
        margin-top: 70px;
    }
}
.copymenu{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: white;
    align-items: center;
}

/* halaman berita/postingan */

.ber1{
    font-size: 30px;
    margin-top: 50px;
}
.title-section2::after {
    content: "";
    width: 300px;
    height: 4px;
    background-color: #C99353;
    display: grid;
    place-items: center;
    justify-content: center;
    margin-top: 15px;
}
.title-section2{
    display: grid;
    place-items: center;
}
.nameimg p{
    color: gray;
    margin-top: 10px;
}
.nameimg2 img{
    width: 60%;
    height: auto;
}
.berita1desk, .jadwalseminar{
    margin: 50px 130px;
    text-align: justify;
}
.berita1desk span{
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width:700px){
    .berita1desk, .jadwalseminar{
        margin: 50px;
    }
    .nameimg .img2{
        width: 80%;
        height: auto;
    }
}
.row1{
    display: grid;
    place-items: center;
}
.judul .img1{
    width: 80%;
    height: auto;
}
.judul .postermahasiswa{
    width: 30%;
    height: auto;
}
.tgl{
    margin-bottom: 50px;
}
@media screen and (max-width:690px){
    .judul .postermahasiswa{
        width: 50%;
        height: auto;
    }
}

/* sosial media */

.sosmed-body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    margin-top: 80px;
}
.sosmed-wrapper{
    display: inline-flex;
}
.sosmed-body::after{
    content: "";
    width: 350px;
    height: 4px;
    background-color: #E0D2C2;
    display: grid;
    place-items: center;
    margin-bottom: 100px;
}
.sosmed-wrapper .icon{
    margin: 0 20px 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.sosmed-wrapper .icon span{
    position: relative;
    z-index: 2;
}
.sosmed-wrapper .icon span a{
    text-decoration: none;
}
.sosmed-wrapper .icon span i{
    font-size: 25px;
    line-height: 60px;
}
.sosmed-name{
    position: absolute;
    top: 0px;
    color: #fff;
    font-weight: 500;
    background-color: #fff;
    font-size: 15px;
    padding: 10px 18px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sosmed-wrapper .icon:hover .sosmed-name{
    top: -40px;
    opacity: 1;
    pointer-events: auto;
}
.sosmed-name::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sosmed-wrapper span i{
    color: #C99353;
}
.sosmed-wrapper .facebook:hover .sosmed-name,
.sosmed-wrapper .facebook:hover .sosmed-name::before{
    background: #3b5998;
}
.sosmed-wrapper .linkedin:hover .sosmed-name,
.sosmed-wrapper .linkedin:hover .sosmed-name::before{
    background: #0e76a8;
}
.sosmed-wrapper .pinterest:hover .sosmed-name,
.sosmed-wrapper .pinterest:hover .sosmed-name::before{
    background: #c8232c;
}
.sosmed-wrapper .twitter:hover .sosmed-name,
.sosmed-wrapper .twitter:hover .sosmed-name::before{
    background: #00acee;
}
.sosmed-wrapper .email:hover .sosmed-name,
.sosmed-wrapper .email:hover .sosmed-name::before{
    background: #ff6a6a;
}

/* berita lainnya */
.containerberita{
    display: grid;
    justify-content: center;
    align-items: center;
}
.wrap img{
    float: left;
    margin-right: 15px;
}
.wrap a{
    text-decoration: none;
    color: black;
}

/* kontak */
.gmaps, .alamat, .kontak, .mikrotik, .foto1, .vt, .video, .akreditasi.catber{
    font-size: 25px;
    margin-top: 50px;
    font-weight: bold;
    margin: 50px 50px 30px 100px;
}

.title-section3::after {
    content: "";
    width: 300px;
    height: 4px;
    background-color: #C99353;
    display: grid;
    place-items: center;
    justify-content: center;
    margin-top: 15px;
}
.map{
    margin: 0px 0px 100px 100px;
}
.alamat-desk, .kontak-desk{
    font-weight: 500;
    margin: 0px 100px;
}
@media screen and (min-width:1360px){
    .mobile-kontak{
        display: none;
    }
}
@media screen and (max-width:1360px){
    .mobile-kontak{
        display: grid;
        place-items: center;
    }
    .map, .alamat-desk, .kontak-desk{
        margin: 0px 0px 30px 0px;
    }
    .container-fluid{
        display: none;
    }
    .map{
        width: 85%;
    }
    .alamat-desk, .kontak-desk{
        margin-left: 50px;
    }
}

/* foto */

/* .mobile-foto{
    display: none;
}

@media screen and (min-width:996px){
    .mobile-foto{
        display: block;
    }
}

.desktop-foto{
    display: block;
}

@media screen and (min-width:996px){
    .desktop-foto{
        display: none;
    }
} */

/* foto */

.cprev,.cprev2,.cprev3,.cprev4,.cprev5,.cprev6{
    display: none;
}

.cprevM1,.cprevM2,.cprevM3,.cprevM4,.cprevM5,.cprevM6{
    display: none;
}

.cnext,.cnext2,.cnext3,.cnext4,.cnext5,.cnext6{
    display: none;
}

.cnextM1,.cnextM2,.cnextM3,.cnextM4,.cnextM5,.cnextM6{
    display: none;
}

.desktop-foto,.desktop-foto2{
    display: none;
}

.desktop-foto3,.desktop-foto4,.desktop-foto5,.desktop-foto6{
    display: none;
}

@media screen and (min-width:1200px){
    .cprev{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 375px; 
        margin-bottom: 150px;
    }

    .cnext{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 375px; 
        margin-bottom: 150px;
    }

    .cprevM1{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 775px; 
        margin-bottom: 150px;
    }

    .cnextM1{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 775px; 
        margin-bottom: 150px;
    }

    .desktop-foto{
        display: block;
    }
}

@media screen and (max-width:1200px) and (min-width:992px){
    .cprev2{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 350px; 
        margin-bottom: 150px;
    }

    .cnext2{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 350px; 
        margin-bottom: 150px;
    }

    .cprevM2{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 730px; 
        margin-bottom: 150px;
    }

    .cnextM2{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 730px; 
        margin-bottom: 150px;
    }

    .desktop-foto2{
        display: block;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .cprev3{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 360px; 
        margin-bottom: 150px;
    }

    .cnext3{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 360px; 
        margin-bottom: 150px;
    }

    .cprevM3{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 710px; 
        margin-bottom: 150px;
    }

    .cnextM3{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 710px; 
        margin-bottom: 150px;
    }

    .desktop-foto3{
        display: block;
    }
}

@media screen and (min-width:576px) and (max-width:767px){
    .cprev4{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 360px; 
        margin-bottom: 150px;
        margin-left: 50px;
    }

    .cnext4{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 360px; 
        margin-bottom: 150px;
        margin-right:50px;
    }

    .cprevM4{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 730px; 
        margin-bottom: 150px;
        margin-left: 50px;
    }

    .cnextM4{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 730px; 
        margin-bottom: 150px;
        margin-right:50px;
    }

    .desktop-foto4{
        display: block;
    }
}

@media screen and (max-width:575px) and (min-width:433px){
    .cprev5{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 360px; 
        margin-bottom: 150px;
        margin-left: 50px;
    }

    .cnext5{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 360px; 
        margin-bottom: 150px;
        margin-right:50px;
    }

    .cprevM5{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 720px; 
        margin-bottom: 150px;
        margin-left: 50px;
    }

    .cnextM5{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 720px; 
        margin-bottom: 150px;
        margin-right:50px;
    }

    .desktop-foto5{
        display: block;
    }
}

@media screen and (max-width:432px){
    .cprev6{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 350px; 
        margin-bottom: 150px;
        margin-left: 15px;
    }

    .cnext6{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 350px; 
        margin-bottom: 150px;
        margin-right:15px;
    }

    .cprevM6{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 690px; 
        margin-bottom: 150px;
        margin-left: 15px;
    }

    .cnextM6{
        display: block;
        width: 150px; 
        height: 150px; 
        margin-top: 690px; 
        margin-bottom: 150px;
        margin-right:15px;
    }

    .desktop-foto6{
        display: block;
    }
}

.akreditasi3 {
    font-size: 25px;
    font-weight: bold;
}

.akreditasi2{
    font-size: 25px;
    font-weight: bold;
    margin: 0px 50px 30px 100px;
}

/* Virtual Tour */

.vt_box{
    margin-left: -50px;
    margin-right: -50px;
}

@media screen and (min-width:1080px){
    .vt_box{
        margin-left: 50px;
        margin-right: 50px;
    }
}


/* VIDEO */

.video_box{
    margin-left: -50px;
    margin-right: -50px;
}

@media screen and (min-width:1080px){
    .video_box{
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* visi dan misi */
.visimisi::after{
    content: "";
    width: 200px;
    height: 4px;
    background-color: #C99353;
    display: block;
    margin-top: 15px;
}
.visimisi{
    margin-left: 130px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
}
.visi, .misi{
    margin: 20px 130px 50px 130px;
    text-align: justify;
}
.misi li{
    margin-bottom: 10px;
    margin-left: -15px;
}
@media screen and (max-width:720px){
    .visimisi{
        margin-left: 70px;
        margin-top: 50px;
        font-weight: bold;
        font-size: 20px;
    }
    .visi, .misi{
        margin: 20px 70px 50px 70px;
        text-align: justify;
    }
}
.videopage, .tujuanpage{
    margin-bottom: 100px;
}

/* tujuan */

.tujuan{
    margin: 50px 130px 0px 130px;
}
.tujuan li{
    margin-bottom: 10px;
}
@media screen and (max-width:720px){
    .tujuan{
        margin: 50px 70px 0px 70px;
    }
}

/* dosen */
.member{
    position: relative;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: start;
    margin-top: 10px;
    margin-bottom: 10px;
}
.member img, .member1 img{
    border-radius: 50%;
    width: 180px;
    margin-top: 20px;
}
.member-info{
    padding-left: 30px;
}
.member-info .namadosen, .namatenaga{
    font-size: 20px;
}
.member-info .namadosen::after{
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 2px;
    background: #525252;
}
.member-info .m-0, .member1-info .m-0{
    color: #8F8166;
    font-weight: 700;
}
.member-info span{
    font-weight: 500;
}
.judul .row{
    margin: 0px 70px 0px 70px;
}
@media screen and (max-width:720px){
    .member{
        padding: 30px;
        border-radius: 20px;
        background-color: white;
        display: block;
        text-align: center;
    }
    .member-info{
        padding-left: 0px;
    }
    .member-info .namadosen::after, .member-info .namatenaga::after{
        display: none;
    }
    .member img{
        margin-bottom: 20px;
    }
}

/* tenaga kependidikan */
.member1{
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    display: block;
    text-align: center;
}
.member1-info{
    padding-left: 0px;
}
.member1-info .namatenaga::after{
    display: none;
}
.member1 img{
    margin-bottom: 20px;
}

/* laboratorium komputer dan jaringan */
.jarkom{
    margin-top: 0px;
    margin-bottom: 0px;
}

.jarkomdesk{
    text-align: justify;
    font-size: large;
}

/* laboratorium Rekayasa Perangkat Lunak */
.rpl{
    margin-top: 0px;
    margin-bottom: 0px;
}

.rpldesk{
    text-align: justify;
    font-size: large;
}

/* Kategori Berita */

.catberita-container{
    display: block;
}

.contberita-container{
    padding-left: 20px;
    padding-right: 20px;
}

.container-bar{
    margin-left: 10px;
    margin-right: 10px;
}

.mbar {
    margin-left: 50px;
    margin-right: 50px
}

.bar-left{
    width: 66.6%;
}

.bar-right{
    width: 33.3%;
}

.barpad {
    padding-bottom: 40px;
}

.barpadbot {
    padding-bottom: 30px;
}

.judulcat{
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.categorilain{
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 15px;
}

.deskcat{
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
    font-size: 17px;
}

.judulcatlain{
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.categorilainnya{
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 10px;
}

.containerlainnya{
    display: grid;
    justify-content: center;
    align-items: center;
}
.wrap2 img{
    float: left;
    margin-right: 15px;
}
.wrap2 a{
    text-decoration: none;
    color: black;
}

.bagiankonten {
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
}

.bagiankonten2 {
    display: flex;
    margin-top: 15px;
    margin-bottom: 7px;
}

.title-section4::after {
    content: "";
    width: 150px;
    height: 4px;
    background-color: #C99353;
    display: grid;
    place-items: center;
    justify-content: center;
    margin-top: 5px;
}
.title-section4{
    display: grid;
    place-items: center;
}

.titlehead4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.title-section5::after {
    content: "";
    width: 550px;
    height: 4px;
    background-color: #C99353;
    display: grid;
    place-items: center;
    justify-content: center;
    margin-top: 15px;
}
.title-section5{
    display: grid;
}

@media screen and (max-width: 991px){
    .title-section5::after {
        content: "";
        width: 300px;
        height: 4px;
        background-color: #C99353;
        display: grid;
        place-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    .title-section5{
        display: grid;
        place-items: center;
    }
}

.imgcont {
    height: 300px;
}

@media screen and (max-width: 991px){
    .imgcont{
        height: 100%;
    }
}

.barwidth{
    width: 50px;
}

/* Kurikulum */
.kurikulum{
    height: 100%;
  }
  
  .kurikulum-konten{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .kurikulum-konten embed{
    width: 71%;
    height: 500px;
    border: 3px solid #1a1919;
  }
  
  @media(max-width:545px){
    .kurikulum-konten embed{
      width: 80%;
      height: 300px;
    }
  }

  